In [1]:
import pandas as pd 
import numpy as np

In [44]:
#数据路径

path='F:/weiwei/xue_qian_yu_jing/xqyj_data'

#学生就业信息

by_data=pd.read_csv(path+'/2012PQFA.csv',encoding='gbk')

In [45]:
by_data.head()

,id,xh,xb,xy,zy,mz,jyzk,jydwqk,jydwxz,dydwhy,jydwszd,dwlxr
0,1,11011009,男,法学院,法学,土家族,灵活就业,富士施乐高科技（深圳）有限公司银星工厂,其他企业,科学研究和技术服务业,广东省深圳市市辖区,单位负责人
1,2,2012213477,男,计算机科学学院,自动化,苗族,就业,TCL王牌电器（惠州）有限公司,其他企业,制造业,广东省惠州市惠城区,吉郭菲
2,3,11011201,男,法学院,法学,藏族,待就业,NaN,待就业,NaN,NaN,NaN
3,4,11012034,男,法学院,政治学与行政学,蒙古族,自主创业,武汉至臻恒远网络技术有限公司,自主创业,信息传输、软件和信息技术服务业,湖北省武汉市武昌区,NaN
4,5,11012059,女,法学院,政治学与行政学,彝族,灵活就业,成都三加一教育咨询有限公司凉山分公司,中初教育,教育,四川省成都市市辖区,工作人员

In [46]:
#查看jyzk这一列的类别统计数量
by_data['jyzk'].value_counts()

就业       2616
灵活就业     1223
升学        806
待就业       647
自由职业      274
出国、出境     178
自主创业       41
其他企业        1
嗲就业         1
Name: jyzk, dtype: int64

In [47]:
len(by_data)

5787

In [49]:
#删除无用列

X=[x for x in by_data.columns if x not in ['xh','jyzk']]
jy_feature=by_data.drop(X,axis=1)

In [50]:
jy_feature.head()

           xh  jyzk
0    11011009  灵活就业
1  2012213477    就业
2    11011201   待就业
3    11012034  自主创业
4    11012059  灵活就业

In [51]:
#把就业状况为待就业的置零，其余的置1
def jyzk(x):
    if x=='待就业':
        return 0
    else:
        return 1
jy_feature['jyzk']=jy_feature['jyzk'].apply(jyzk)

In [52]:
#去除11届的学生（因为没有者部分学生的入学数据）
def xh(x):
    if len(str(x))<10:
        return 'a'
    else:
        return x
    
jy_feature['xh']=jy_feature['xh'].apply(xh)
a=jy_feature[jy_feature['xh']=='a'].index
x=[x for x in range(len(jy_feature)) if x not in a]
jy_feature_f=jy_feature.ix[x]

In [59]:
jy_feature_f.head()

           xh  jyzk
1  2012213477     1
5  2012210001     1
6  2012215888     1
7  2012210003     0
8  2012210257     1

In [60]:
#保存文件
jy_feature_f.to_csv('jy_data/jy_feature.csv',index=False)