In [4]:
import pandas as pd 
import numpy as np

In [6]:
#数据路径

path='F:/weiwei/xue_qian_yu_jing/xqyj_data'

#经济困难学生信息
#2016-2017
poor_students_7=pd.read_csv(path+'/poor_students(2016-2017).csv',encoding='gbk')
#2014-2015,2015-2016
poor_students_1=pd.read_csv(path+'/poor_students_1029(2014-2015 2015-2016).csv',encoding='gbk')
poor_students_2=pd.read_csv(path+'/poor_students_1029(2)(2014-2015 2015-2016).csv',encoding='gbk')
poor_students_3=pd.read_csv(path+'/poor_students_1029(3)(2014-2015 2015-2016).csv',encoding='gbk')
poor_students_4=pd.read_csv(path+'/poor_students_1029(4)(2014-2015 2015-2016).csv',encoding='gbk')
poor_students_5=pd.read_csv(path+'/poor_students_1029(5)(2014-2015 2015-2016).csv',encoding='gbk')
poor_students_6=pd.read_csv(path+'/poor_students_1029(6)(2014-2015 2015-2016).csv',encoding='gbk')

In [9]:
#转化学号格式为int
def sno(x):
    return int(x)
poor_students_1['sno']=poor_students_1['sno'].apply(sno)
poor_students_6['sno']=poor_students_6['sno'].apply(sno)

In [10]:
poor_students_2.head()

,id,school_year,school_term,sno,department_code,class_no,month_avg_consumption,status,poor_level,data_source,created_at,updated_at,in_school_status,school_roll
0,11659,2015-2016,1,2012210703,202.0,2012020302,NaN,0,1,1,2016/8/3 11:31:39,2016/9/20 10:13:17,1.0,1.0
1,2539,2014-2015,1,2012210703,202.0,2012020302,NaN,0,2,1,2016/8/3 11:31:39,2016/9/20 10:10:49,1.0,1.0
2,16896,2014-2015,1,2012210704,202.0,2012020302,NaN,0,2,1,2016/8/3 11:31:40,2016/9/20 10:14:42,1.0,1.0
3,11660,2015-2016,1,2012210704,202.0,2012020302,NaN,0,1,1,2016/8/3 11:31:39,2016/9/20 10:13:17,1.0,1.0
4,3143,2014-2015,1,2012210705,209.0,12209080102,NaN,0,3,1,2016/8/3 11:31:39,2016/8/3 11:31:39,1.0,23.0

In [11]:
#连接各表

#轴axis为0，纵向堆叠各表到一起
poor_students=pd.concat([poor_students_1,poor_students_2])
poor_students=pd.concat([poor_students,poor_students_3])
poor_students=pd.concat([poor_students,poor_students_4])
poor_students=pd.concat([poor_students,poor_students_5])
poor_students=pd.concat([poor_students,poor_students_6])
poor_students=pd.concat([poor_students,poor_students_7])

In [12]:
poor_students.head()

,id,school_year,school_term,sno,department_code,class_no,month_avg_consumption,status,poor_level,data_source,created_at,updated_at,in_school_status,school_roll
0,2677,2014-2015,1,2012104676,NaN,NaN,NaN,0,2,1,2016/8/3 11:31,2016/8/3 11:31,NaN,NaN
1,17562,2014-2015,1,201210857,NaN,NaN,NaN,0,1,1,2016/8/3 11:31,2016/8/3 11:31,NaN,NaN
2,13051,2014-2015,1,2012113080,NaN,NaN,NaN,0,1,1,2016/8/3 11:31,2016/8/3 11:31,NaN,NaN
3,1391,2014-2015,1,2012113173,NaN,NaN,NaN,0,2,1,2016/8/3 11:31,2016/8/3 11:31,NaN,NaN
4,18680,2014-2015,1,201211393,NaN,NaN,NaN,0,1,1,2016/8/3 11:31,2016/8/3 11:31,NaN,NaN

In [71]:
poor_students['school_year'].value_counts()

2015-2016    2502
2014-2015    2485
2016-2017      53
Name: school_year, dtype: int64

In [72]:
#删除的无用的列

X=[x for x in poor_students.columns if x not in ['sno']]
poor_students_f=poor_students.drop(X,axis=1)

In [75]:
#删除重复列
poor_students_ff=poor_students_f.drop_duplicates()

In [76]:
len(poor_students_ff)

2721

In [95]:
#获取学生的贫困等级
poor_level=poor_students.iloc[poor_students_ff.index]['poor_level'].values

In [96]:
#給表添加贫困等级者一列
poor_students_ff['poor_level']=poor_level

C:\Users\Wvv\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [103]:
#添加是否贫困生这一列
poor_students_ff['is_poor']=1

C:\Users\Wvv\Anaconda3\envs\py2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [105]:
poor_students_ff.head()

          sno  poor_levlel  is_poor
0  2012104676            2        1
1   201210857            1        1
2  2012113080            1        1
3  2012113173            2        1
4   201211393            1        1

In [106]:
#保存数据
poor_students_ff.to_csv('poor_student_data/poor_students.csv',index=False)