In [1]:
import pandas as pd 
import numpy as np

In [2]:
#数据路径

path='F:/weiwei/xue_qian_yu_jing/xqyj_data'

#学生学业预警数据

students_warnings_data=pd.read_csv(path+'/schoolwark_warnings_0124.csv',encoding='gbk')

In [3]:
students_warnings_data.head()

,id,sno,warning_type,desp,warning_term,department_code,class_no,warning_code,created_at,updated_at,...,in_school_status,integrate_lvl,integrate_lvl_name,last_term_lvl,last_term_lvl_name,warning_name,warning_value,class_name,original_lvl,original_lvl_name
0,25614,2012211580,1,学分未达到,2016-2017,205,13205050103,41,2016/10/31 7:58,2017/1/18 16:54,...,1,NaN,NaN,NaN,NaN,其他（教师手动添加）,其他（橙色预警事件）,英语1303班,NaN,NaN
1,21519,2012211580,1,学分未达到,2015-2016,205,13205050103,41,0000/0/0 00:00:00,2017/1/17 17:52,...,1,NaN,NaN,NaN,NaN,其他（教师手动添加）,其他（橙色预警事件）,英语1303班,NaN,NaN
2,23855,2012212561,1,偏远薄弱地、留转休、挂科11门,2016-2017,207,13207070401,40,2016/10/31 7:53,2017/1/18 16:54,...,1,NaN,NaN,NaN,NaN,其他（教师手动添加）,其他（黄色预警事件）,13工商(1),NaN,NaN
3,19760,2012212561,1,偏远薄弱地、留转休、挂科11门,2015-2016,207,13207070401,40,0000/0/0 00:00:00,2017/1/17 17:51,...,1,NaN,NaN,NaN,NaN,其他（教师手动添加）,其他（黄色预警事件）,13工商(1),NaN,NaN
4,23870,2012212865,1,偏远薄弱地、留转休、挂科6门,2016-2017,207,13207070301,42,2016/10/31 7:53,2017/1/18 16:54,...,1,NaN,NaN,NaN,NaN,其他（教师手动添加）,其他（红色预警事件）,旅游管理1301班,NaN,NaN

In [4]:
students_warnings_data.columns

Index([u'id', u'sno', u'warning_type', u'desp', u'warning_term',
       u'department_code', u'class_no', u'warning_code', u'created_at',
       u'updated_at', u'warning_term_code', u'wno', u'status',
       u'original_warning_code', u'original_desp', u'operate_time', u'grade',
       u'department_name', u'major_name', u'current_lvl_name', u'data_source',
       u'major_code', u'school_roll', u'in_school_status', u'integrate_lvl',
       u'integrate_lvl_name', u'last_term_lvl', u'last_term_lvl_name',
       u'warning_name', u'warning_value', u'class_name', u'original_lvl',
       u'original_lvl_name'],
      dtype='object')

In [7]:
#删除无用列
X=[x for x in students_warnings_data.columns if x not in [u'sno', u'current_lvl_name']]
students_warnings=students_warnings_data.drop(X,axis=1)

In [8]:
students_warnings.head()

          sno current_lvl_name
0  2012211580             橙色预警
1  2012211580             橙色预警
2  2012212561             黄色预警
3  2012212561             黄色预警
4  2012212865             红色预警

In [11]:
def level(x):
    if x=='蓝色预警':
        return 1
    elif x=='黄色预警':
        return 2
    elif x=='橙色预警':
        return 3
    else:
        return 4
students_warnings['current_lvl_name']=students_warnings['current_lvl_name'].apply(level)

In [13]:
#更改列名
students_warnings.rename(columns={'current_lvl_name':'student_warning_lvl'},inplace=True)

In [14]:
students_warnings.head()

          sno  student_warning_lvl
0  2012211580                    3
1  2012211580                    3
2  2012212561                    2
3  2012212561                    2
4  2012212865                    4

In [15]:
#删除重复的列与保存数据
students_warnings=students_warnings.drop_duplicates()
students_warnings.to_csv('student_warning_data/student_warning_feature.csv',index=False)